body {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(223, 184, 132);
}

h1{
    text-align: center;
    color: rgb(207, 113, 129);
    background-color: rgb(206, 159, 97);
    border-radius: 10px;
}
h2 {
    text-align: center;
    color: rgb(89, 119, 89);
}

p {
    justify-content: left;
    color: rgb(77, 63, 63);
}

a {
    text-decoration: none;
    color: rgb(207, 113, 129);
}