:root {
    --color-0: #c5ebd6;
    --color-1: #83E1AD;
    --color-2: #3DDC84;
    --color-3: #2FA866;
    --color-4: #1A5C37;
    --color-5: #063d1e;
    --font-0: Helvetica, Arial, 'Open Sans', sans-serif;
    --font-1: 'Bebas Neue', Helvetica, Arial, sans-serif;
    --font-2: 'Android', Helvetica, Arial, sans-serif;
}

@font-face {
    font-family: 'Android';
    src: url('../fonts/idroid.otf') format('opentype');
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
}

img {
    width: 100%;
}

body {
    background-color: var(--color-0);
    font-family: var(--font-0);
}

header{
    background-image: linear-gradient(to bottom, var(--color-3), var(--color-5));
    padding: 30px 30px 15px 30px;
    color: #ffff;
    min-height: 150px;
    text-align: center;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.466);
}

header h1 {
    font-family: var(--font-1);
    font-weight: normal;
    margin-bottom: 30px;
    font-size: 4em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
}

header p {
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
}

nav {
    text-align: left;
}

nav a {
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    color: #ffff;
}

nav a:hover{
    background-color: var(--color-3);
    color: var(--color-5);
    border-radius: 10px;
    transition-duration: .2s;
}

main {
    background-color: #ffff;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
    padding: 20px;
    max-width: 800px;
    min-width: 320px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.466);
}

main h1 {
    font-family: var(--font-2);
    color: var(--color-5);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--font-2);
    color: var(--color-4);
    font-weight: normal;
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--color-1), transparent);
    text-indent: 10px;
}

main p {
    text-align: justify;
    text-indent: 30px;
    margin: 15px 0px;
    line-height: 2em;
}

main strong {
    color: var(--color-4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    color: var(--color-5);
    background-color: var(--color-1);
    border-radius: 5px;
    font-weight: bolder;
    padding: 2px 6px;
}

main a:hover{
    color: var(--color-4);
    text-decoration: underline;
}

.external::after{
    content: '\00A0\1F517';
}

.video {
    background-color: var(--color-4);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

.video iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

#bugdroid-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

aside {
    background-color: var(--color-1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.466);
}

aside h3 {
    background-color: var(--color-4);
    color: #ffff;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    margin: -10px -10px 0px -10px;
}

aside ul {
    list-style-position: inside;
    list-style-type: '\2714\00A0\00A0';
    columns: 2;
}

footer {
    background-color: var(--color-4);
    color: #ffff;
    padding: 5px;
    text-align: center;
}

footer a {
    color: #ffff;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--color-1);
}