@font-face {
	font-family: Android;
	src: url('fonts/idroid.otf') format('opentype');
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('fonts/BebasNeue-Regular.ttf') format('truetype');
}

:root {
    --color-0: #c5ebd6;
    --color-1: #83E1AD;
    --color-2: #3DDC84;
    --color-3: #2FA866;
    --color-4: #1A5C37;
    --color-5: #063d1e;
    --font-0: 'Open Sans', Arial, Helvetica, sans-serif;
    --font-1: 'Bebas Neue', cursive;
    --font-2: Android, sans-serif;
}


body {
    background-color: var(--color-1);
    font: normal normal 1em var(--font-0);
    margin: 0px;
    justify-content: center;
    text-align: center;
}

p {
    text-indent: 30px;
    text-align: justify;
}

a {
    text-decoration: none;
    color: var(--color-0);
}

a:hover{
    text-decoration: underline;
}

header {
    text-align: center;
    color: var(--color-0);
    background-image: linear-gradient(var(--color-3), var(--color-4), var(--color-5));
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.466);
    padding: 10px;
}

nav {
    text-align: left;
    font-size: 1.2em;
}

#header-title {
    font-family: var(--font-1);
    font-size: 3em;
}

main {
    margin: auto;
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.479);
    background-color: var(--color-0);
    max-width: 800px;
    min-width: 400px;
    padding: 20px;
    justify-content: center;
}
#main-title {
    background-color: var(--color-0);
}

.title{
    font-family: var(--font-2);
    text-align: left;
    color: var(--color-5);
    background-image: linear-gradient(to right, var(--color-2), var(--color-1), var(--color-0));
}

#video-div {
    position: relative;
    background-color: var(--color-5);
    text-align: center;
    margin: 0px -20px 0px -20px;
}

#vide-div > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

#extra-div {
    margin: 20px;
    background-color: var(--color-2);
    border-radius: 10px;
}

#extra-div > p {
    padding: 0px 10px 10px 10px;
}

#extra-title {
    background-color: var(--color-5);
    color: var(--color-0);
    text-align: left;
    font-size: 1.5em;
    padding-left: 10px;
    border-radius: 10px 10px 0px 0px;
}

footer {
    background-color: var(--color-5);
    padding: 10px;
    text-align: center;
    color: var(--color-0);
}