@font-face {
	font-family: idroid;
	src: url('fonts/idroid.otf') format('opentype');
}

body {
    background-color: #49F281;
    font: normal normal 1em open -apple-system BlinkMacSystemFont, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    justify-content: center;
    text-align: center;
}

p {
    text-indent: 30px;
    text-align: justify;
}

a {
    text-decoration: none;
    color: #ffff;
}

a:hover{
    text-decoration: underline;
}

header {
    text-align: center;
    color: #ffff;
    background-image: linear-gradient(#01E623, #00660F);
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.479);
    padding: 10px;
}

nav {
    text-align: left;
    font-size: 1.2em;
}

#header-title {
    font-size: 3em;
}

main {
    margin: auto;
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.479);
    background-color: #ffff;
    width: 1400px;
    padding: 10px;
    justify-content: center;
}
#main-title {
    background-color: #ffff;
}

.title{
    font-family: idroid;
    text-align: left;
    color: #00660F;
    background-image: linear-gradient(to right,#00b31b83, #ffff);
}

#video-div {
    background-color: #00660F;
    text-align: center;
    padding: 10px;
}

#extra-div {
    margin: 20px;
    background-color: #49F281;
    border-radius: 10px;
}

#extra-div > p {
    padding: 0px 10px 10px 10px;
}

#extra-title {
    background-color: #00660F;
    color: #ffff;
    text-align: left;
    font-size: 1.5em;
    padding-left: 10px;
    border-radius: 10px 10px 0px 0px;
}

footer {
    background-color: #00660F;
    padding: 10px;
    text-align: center;
    color: #ffff;
}