@font-face {
	font-family: idroid;
	src: url('fonts/idroid.otf') format('opentype');
}

body {
    background-color: #49F281;
    font: normal normal 1em open -apple-system BlinkMacSystemFont, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    justify-content: center;
    text-align: center;
}

p {
    text-align: justify;
}

header {
    text-align: center;
    color: #ffff;
    background-image: linear-gradient(#00660F, #01E623);
    padding: 10px;
}

nav {
    text-align: left;
    font-weight: bolder;
}

#header-title {
    font-size: 3em;
}

main {
    margin: auto;
    background-color: #ffff;
    width: 1400px;
    padding: 10px;
    justify-content: center
}
#main-title {
    background-color: #ffff;
}

.title{
    font-family: idroid;
    text-align: left;
    color: #00660F;
    background-image: linear-gradient(to right,#00b31b83, #ffff);
}

#video-div {
    background-color: #00660F;
    text-align: center;
    padding: 10px;
}

footer {
    background-color: #00660F;
    padding: 10px;
    text-align: center;
    color: #ffff;
}